/* style.css */

body{
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 15px;
}

.image {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

#home{
    background-color: blueviolet;
}

.ordered-list,
.unordered-list{
    background-color: white;
    color: purple;
}


/* home button */
.home{
    margin: auto;
    display: block;
    width: 75px;
    height: 25px;
}

.homepage{
    background-color: gray;
}
